/* Results Component */

.results {
    width: 90%;
    max-width: 25rem;
    padding-top: 2rem;
}

.word-icon {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.3rem;
}

h1 {
    text-decoration: none !important;
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-button:hover {
    opacity: 0.8;
}

.icon-button:active {
    transform: scale(0.95);
    opacity: 5;
    background-color: #d9d9d9;
    border-radius: 0.5rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.word-type {
    color: #737373;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.definition {
    margin-bottom: 1.5rem;
    font-weight: 300;
}

.example-sentence {
    font-style: italic;
    font-weight: 300;
    color: #737373;
    margin-bottom: 3rem;
    border-left: #9b4ece 0.2rem solid;
    padding-left: 1.5rem;
    min-height: 1.5rem;
    display: flex;
    align-items: center;
}