/* SearchBar Component */
h1 {
    text-decoration: underline;
    font-size: 1.4rem;
}

.word-search {
    display: flex;
    width: 95%;
    max-width: 26rem;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0rem 0rem 0rem;
}

input[type='text'] {
    flex-grow: 1;
    flex-shrink: 1;
    height: 2rem;
    padding: 0 0.5rem;
    border: none;
    background-color: #d9d9d9;
    border-radius: 0.5rem;
    margin-right: 1rem;
    font-size: 0.9rem;
}

input[type='text']:hover {
    border:#1e1f26 1px solid;
}

.submit-button {
    height: 2rem;
    max-width: 5rem;
    padding: 0 0.5rem;
    flex-grow: 1;
    flex-shrink: 2;
    background-color: #a85fdb;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.submit-button:hover{
    border:#1e1f26 1px solid;
}

.submit-button:active{
    background-color: #7c3bbd; /* darker purple */
    transform: scale(0.98);    /* slight shrink effect */
    border:#1e1f26 2px solid;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.error-input {
    border-color: red !important;
    border-width: 2px !important;
    border-style: solid !important;
}