html{
    font-size: clamp(16px, 2vw, 20px); /* allows for responsive font sizing and rem units across the document */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    color: #1e1f26;
}

html, body {
    height: 100%;
    width: 100%;
}

/* setting background */
body {
    background-color: #b393dd;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* setting the off-white container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f8f7;
    width: 90vw;
    border-radius: 1rem;
    padding: 1.75rem 1rem;
    max-width: 34rem;
}
